
@{
    ViewData["title"] = "List User";
}

<h3>List User</h3>
<a class="btn btn-primary" asp-action="Create" asp-controller="User">Add User</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>

            <th scope="col">PasswordHash</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usersWithRoles in Model)
        {
            <tr>
                <td>@usersWithRoles.Id</td>
                <th scope="row">@usersWithRoles.UserName</th>
                <td>@usersWithRoles.Email</td>
                <td>@usersWithRoles.PasswordHash</td>
                <td>@usersWithRoles.PhoneNumber</td>
                <td>
                    @usersWithRoles.RoleName
                </td>
                  
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="User" asp-route-id="@usersWithRoles.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="User" asp-route-id="@usersWithRoles.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>